@font-face {
    font-family: "BaiJamjuree-Regular";
    src: url("./../assets/portfolio-assets/fonts/BaiJamjuree-Regular.ttf");
}

@font-face {
    font-family: "BaiJamjuree-Bold";
    src: url("./../assets/portfolio-assets/fonts/BaiJamjuree-Bold.ttf");
}

@font-face {
    font-family: "BaiJamjuree-Bold-Italic";
    src: url("./../assets/portfolio-assets/fonts/BaiJamjuree-BoldItalic.ttf");
}

@font-face {
    font-family: "BaiJamjuree-SemiBold";
    src: url("./../assets/portfolio-assets/fonts/BaiJamjuree-SemiBold.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("./../assets/portfolio-assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Regular-Italic";
    src: url("./../assets/portfolio-assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("./../assets/portfolio-assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("./../assets/portfolio-assets/fonts/OpenSans-SemiBold.ttf");
}