@import "./variables";
@import "./fonts";
@import "./breakpoints";

.portfolio-hero {
    padding: 4.9rem 2rem 0 2rem;
    height: 44rem;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    overflow: hidden;
    
    @include tablet {
        height: 100vh;
    }

    @include desktop {
        justify-content: center;
    }

    &__main-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        transition: all .5 ease-in-out;

        @include tablet-landscape {
            padding-bottom: 1.5rem;
        }

        @include desktop {
            flex-direction: row;
            width: 100%;
        }
    }

    &__text-divider-wrapper {
        height: 50%;
        width: 70%;
        display: flex;
        flex-direction: column;
        z-index: 1;

        @include tablet {
            margin: 5rem 0 0 4rem;
        }

        @include desktop {
            height: 90%;
            justify-content: flex-end;
            width: 40%;
            padding: 0 0 9rem 9rem;
        }
    }

    &__divider {
        width: 4rem;
        background: linear-gradient(to right, $red-salsa, $platinum-white);
        height: 2px;
        margin: .5rem 0 1rem 0;
        border-radius: 1px;
        opacity: 0;
        transition: all .7s ease-out;
        transform: translateX(-100%); 

        &--mounted {
            opacity: 1;
            transform: translateX(0); 
        }

        @include tablet {
            margin: .7rem 0 1rem 0;
            height: 4px;
            border-radius: 2px;
            width: 4.5rem;
        }
    }

    &__divider2 {
        width: 4rem;
        background: linear-gradient(to right, $champagne-yellow, $platinum-white);
        height: 2px;
        margin: 0 0 1rem 2rem;
        border-radius: 1px;
        display: block;
        opacity: 0;
        transition: all .9s ease-out;
        transform: translateX(-100%); 

        &--mounted {
            opacity: 1;
            transform: translateX(0); 
        }

        @include tablet {
            margin: 0 0 1.2rem 2.5rem;
            height: 4px;
            border-radius: 2px;
            width: 4.5rem;
        }
    }

    &__texts-wrapper {
        display: flex;
        flex-direction: column;
        font-family: "OpenSans-Regular-Italic";
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__text {
        opacity: 0;
        transition: all 1s ease-out;
        transform: translateX(-100%); 

        &--mounted {
            opacity: 1;
            transform: translateX(0); 
        }
    }

    &__text2 {
        margin: .5rem 0 0 1rem;
        opacity: 0;
        transition: all 1.2s ease-out;
        transform: translateX(-100%); 

        &--mounted {
            opacity: 1;
            transform: translateX(0); 
        }
    }

    &__hero-title-wrapper {
        font-size: 2.2rem;
        width: fit-content;
        font-family: "BaiJamjuree-Bold";
        position: relative;

        @include tablet {
            font-size: 3.1rem;
        }

        @include desktop  {
            font-size: 4rem;
        }
    }

    &__hero-title {
        z-index: 1;
        background: linear-gradient(to right, $champagne-yellow, $platinum-white);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: all .3s ease-out;
        transform: translateX(-70%); 

        &--mounted {
            opacity: 1;
            transform: translateX(0); 
        }
    }

    &__hero-title2 {
        margin-left: 1rem;
        z-index: 2;
        background: linear-gradient(to right, $champagne-yellow, $platinum-white);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateY(-1rem);
        opacity: 0;
        transition: all .5s ease-out;
        transform: translateX(-50%); 

        &--mounted {
            opacity: 1;
            transform: translateX(0); 
        }
    }

    &__img-wrapper {
        width: 120%;
        height: 50%;
        display: flex;
        align-items: flex-end;
        z-index: 0;
        opacity: 0;
        transform: translateX(40%);
        transition: all 2s ease-out;

        &--mounted {
            opacity: 1;
            transform: translateX(5%);
        }

        @include tablet-landscape {
            width: 100%;
        }

        @include desktop {
            width: 60%;
            height: 90%;
            align-items: center;
        }
    }

    &__img {
        min-width: 110%;

        @include tablet {
            transform: translateY(15%);
        }

        @include tablet-landscape {
            transform: translate(10rem, 16rem);
            min-width: 100%;
        }

        @include desktop {
            transform: translate(-8rem, -2rem);
        }
    }
}