@import "./variables";
@import "./fonts";
@import "./breakpoints";

.portfolio-about-me {
    padding: 4.9rem 2rem 0 2rem;
    color: rgba(255, 255, 255, 0.705);
    position: relative;
    z-index: 1;
    margin-bottom: 5rem;
    margin: 4rem auto 4rem auto;

    @include tablet {
        display: flex;
        justify-content: center;
    }

    &__img-wrapper {
        height: 17rem;
        width: 17rem;
        overflow: hidden;
        margin: auto auto 2rem auto;
        border-radius: 170px;  
        background: url('./../assets/portfolio-assets/about-me-pic.jpg');
        background-size: cover;

        @include tablet {
            margin: 0 4rem 0 0;
        }
        
    }

    &__img {
        transform: translate(-4rem,-3rem);
    }

    &__subtitle-text-wrapper {
        max-width: 22rem;
        
        @include tablet {
            width: 50%;
        }
    }

    &__subtitle {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 2rem;
        font-family: "BaiJamjuree-Regular";
        color: $platinum-white;

        @include tablet {
            font-size: 1.7rem;
        }

        &--highlight {
            font-family: "BaiJamjuree-Bold";
            background: linear-gradient(to right, $champagne-yellow, $platinum-white);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__text {
        line-height: 1.7rem;
        text-align: start;
        margin-bottom: 1rem;
        letter-spacing: 1px;

        // @include tablet {
        //     font-size: 1.1rem;
        // }

        &--highlight1 {
            display: inline-block;
            background: $oxford-blue;
            

            &-wrapper {
                padding-bottom: 1px;
                display: inline-block;
                background: linear-gradient(to right, $royal-blue, $platinum-white);
            }
        }

        &--highlight2 {
            display: inline-block;
            background: $oxford-blue;

            &-wrapper {
                padding-bottom: 1px;
                display: inline-block;
                background: linear-gradient(to right, $red-salsa, $platinum-white);
            }
            
        }

        &--highlight3 {
            display: inline-block;
            background: $oxford-blue;
            

            &-wrapper {
                padding-bottom: 1px;
                display: inline-block;
                background: linear-gradient(to right, $sap-green, $platinum-white);
                // overflow: hidden;
            }
            
        }
    }
}