@import "./variables";
@import "./fonts";
@import "./breakpoints";

.portfolio-about-me {
    padding: 4.9rem 2rem 0 2rem;
    color: rgba(255, 255, 255, 0.705);
    position: relative;
    z-index: 1;
    margin-bottom: 5rem;

    &__img-wrapper {
        height: 17rem;
        width: 17rem;
        overflow: hidden;
        margin: auto;
        border-radius: 170px;
        margin-bottom: 2rem;
    }

    &__img {
        transform: translate(-4rem,-3rem);
    }

    &__subtitle {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 2rem;
        font-family: "BaiJamjuree-Regular";

        &--highlight {
            font-family: "BaiJamjuree-Bold";
            background: linear-gradient(to right, $champagne-yellow, $platinum-white);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__text {
        line-height: 1.7rem;
        text-align: start;
        margin-bottom: 1rem;
        letter-spacing: 1px;

        &--highlight1 {
            display: inline-block;
            background: $oxford-blue;

            &-wrapper {
                padding-bottom: 1px;
                display: inline-block;
                background: linear-gradient(to right, $royal-blue, $platinum-white);
            }
        }

        &--highlight2 {
            display: inline-block;
            background: $oxford-blue;

            &-wrapper {
                padding-bottom: 1px;
                display: inline-block;
                background: linear-gradient(to right, $red-salsa, $platinum-white);
            }
            
        }

        &--highlight3 {
            display: inline-block;
            background: $oxford-blue;

            &-wrapper {
                padding-bottom: 1px;
                display: inline-block;
                background: linear-gradient(to right, $sap-green, $platinum-white);
            }
            
        }
    }
}