@import "./variables";
@import "./fonts";
@import "./breakpoints";

.portfolio-projects {
    padding: 4.9rem 2rem 0 2rem;
    color: rgba(255, 255, 255, 0.705);
    height: 100vh;

    &__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-family: "BaiJamjuree-Bold";
    }

    &__project-container {
        height: 90%;
        width: 100%;
        // border: 2px solid rgba(255, 255, 255, 0.472);
        border-radius: 6px;
        background: rgba(5, 0, 0, 0.438);
        backdrop-filter: blur(2px);
    }

    &__project-img-side {
        border-bottom: 2px solid rgba(255, 255, 255, 0.472);
        height: 70%;
    }
}

.swiper-pagination {
    
    &-bullet {
        background: white !important;
    }
}

.swiper-wrapper {
    padding: 0;
}

.swiper-slide {
    padding: 0;
    width: 100%;
}

#portfolio-projects__swiper-container {
    padding: 0;
    width: 100%;
    height: 90%;
}