@import "./variables";
@import "./fonts";
@import "./breakpoints";

.portfolio-container {
    background: linear-gradient($oxford-blue, #060b10);
    color: $platinum-white;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    font-family: "OpenSans-Regular", sans-serif;
}