@import "./variables";
@import "./fonts";
@import "./breakpoints";

.portfolio-container {
    background: linear-gradient($oxford-blue, #060b10);
    color: $platinum-white;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    font-family: "OpenSans-Regular", sans-serif;
    height: 100%;
}

.particles-background-container {
    position: fixed;
    width: 100%;
    height: 47rem;

    @include desktop {
        height: 100%;
    }
}


.particles-background {
    filter: blur(1px);
    position: fixed;
    width: 100%;
    height: 150%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: transform 2 ease-in-out;
}