@import "./variables";
@import "./fonts";
@import "./breakpoints";

.portfolio-projects {
    padding: 4.9rem 2rem 0 2rem;
    color: rgba(255, 255, 255, 0.705);
    height: 100vh;

    @include tablet {
        height: fit-content;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-family: "BaiJamjuree-Bold";
        color: $platinum-white;
        
        @include tablet {
            font-size: 2.7rem;
        }
    }

    &__project-link {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.705);
    }

    &__project-container {
        height: 93%;
        width: 100%;
        border-radius: 6px;
        background: rgba(5, 0, 0, 0.438);
        backdrop-filter: blur(2px);
        overflow: hidden;

        @include tablet {
            height: 25rem;
            margin-bottom: 2rem;
            display: flex;
        }
    }

    &__project-img-side {
        height: 65%;
        overflow: hidden;
        display: flex;
        justify-content: center;

        @include tablet {
            height: 100%;
            width: 50%;
        }
    }

    &__project-img {
        width: 100%
    }

    &__project-info-side {
        padding: 1rem;

        @include tablet {
            width: 50%;
            padding: 2rem;
        }
    }

    &__project-title {
        font-family: "BaiJamjuree-Bold";
        font-size: 1.4rem;
        margin-bottom: .3rem;
    }

    &__project-subtitle {
        display: inline-block;
        margin-bottom: .5rem;
        font-family: "OpenSans-Regular";
    }
}

.swiper-pagination {
    
    &-bullet {
        background: white !important;
    }
}

.swiper-wrapper {
    padding: 0;
}

.swiper-slide {
    padding: 0;
    width: 100%;
}

#portfolio-projects__swiper-container {
    padding: 0;
    width: 100%;
    height: 90%;
}