@import "./variables";
@import "./fonts";
@import "./breakpoints";

.portfolio-contact {
    padding: 4.9rem 2rem 3rem 2rem;
    color: $platinum-white;
    position: relative;
    max-width: 100vw;

    @include desktop {
        padding: 4.9rem 12rem 3rem 12rem;
    }

    &__main-wrapper {

        @include desktop {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__left-side-wrapper {

        @include desktop {
            width: 40%;
            display: flex;
            flex-direction: column;
        }
        
    }

    &__right-side-wrapper {
        @include desktop {
            width: 50%;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-family: "BaiJamjuree-Bold";
        color: $platinum-white;
        letter-spacing: 5px;
        text-transform: uppercase;

        @include tablet {
            font-size: 2rem;
            letter-spacing: 7px;
        }

        @include desktop {
            font-size: 2.3rem;
            margin-bottom: 3rem;
        }
    }

    &__contact-text {

        margin-bottom: 2rem;
        display: block;
        letter-spacing: 1px;

        @include desktop {
            font-size: 1.4rem;
        }

        &--bold {
            display: block;
            margin-bottom: .5rem;
            letter-spacing: 1px;
            font-size: 1.1rem;
            font-family: "OpenSans-Bold";

            @include desktop {
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }

        }

        &--highlight {
            display: block;
            letter-spacing: 1px;
            text-decoration: none;
            color: $platinum-white;
            width: fit-content;

            @include desktop {
                font-size: 1.4rem;
            }
        }
        
    }

    &__divider {
        width: 100%;
        height: .15rem;
        background: linear-gradient(to right, $champagne-yellow 40%, $platinum-white);
        margin: 0 0 1rem 0;

        @include tablet {
            height: 4px;
            border-radius: 2px;
            
        }

        @include desktop {
            margin: 0 0 1.5rem 0;
            
        }
    }

    &__contact-info-icons-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    
    &__contact-icon-wrapper {
        margin-bottom: 1rem;
        width: 1.7rem;
        height: 1.7rem;
        cursor: pointer;

        @include desktop {
            width: 2.1rem;
            height: 2.1rem;
            margin-bottom: 2rem;
        }
    }

    &__icon {
        filter: invert(100%);
        transition: all .3s ease-in-out;

        @include desktop { 
            filter: invert(80%);

            &:hover {
                filter: invert(100%);
            }
        }
    }

    &__form-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        margin: 0 auto;

        @include desktop {
            max-width: 40rem;
        }
    }

    &__form-inputs-wrapper {
        margin-bottom: 2rem;

        @include desktop {
            margin-bottom: .5rem;
        }
    }

    &__form-input {
        width: 100%;
        height: 3rem;
        padding: .5rem .7rem;
        margin-bottom: .7rem;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.452);
        outline: none;
        font-size: 1rem;
        border-radius: 1px;
        color: #EFF2F1;
        font-family: "OpenSans-Regular", sans-serif;
        transition: all .2s ease-out;

        &:focus {
            background: rgba(255, 255, 255, 0.931);
            color: #000029;
        }

        @include desktop {
            font-size: 1.2rem;
            height: 3.2rem;
            margin-bottom: 1rem;
        }
    }

    &__form-message-span {
        display: block;
        margin-bottom: .6rem;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-family: "BaiJamjuree-Regular";

        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__form-textarea {
        resize: none;
        height: 8rem;
        width: 100%;
        padding: .5rem .7rem;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.452);
        outline: none;
        font-size: 1rem;
        border-radius: 1px;
        font-family: "OpenSans-Regular", sans-serif;
        color: #EFF2F1;
        transition: all .2s ease-out;

        &:focus {
            background: rgba(255, 255, 255, 0.931);
            color: #000029;
        }

        @include desktop {
            height: 10rem;
            font-size: 1.2rem;
        }

        &-wrapper {
            margin-bottom: .5rem;
        }
    }

    &__form-button-wrapper {
        width: 8rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0);
        background: transparent;
        color: rgba(255, 255, 255, 0.705);
        border-radius: 1px;
        font-size: 1rem;
        overflow: hidden;
        position: relative;
        padding-right: 2rem;
        cursor: pointer;
        transition: all .3s ease-out;

        &:hover {
            border: 1px solid rgba(255, 255, 255, 0.452);
        }
    }

    &__form-button-text {
        font-family: "BaiJamjuree-Regular";
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $platinum-white;
    }

    &__form-button-arrow {
        height: 70%;
        position: absolute;
        right: .8rem;
       
    }

    &__form-prompts-wrapper{
        height: 1.5rem;
    }
}