@import "./variables";
@import "./fonts";
@import "./breakpoints";

.torum-landing {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  font-family: "Poppins-Regular";

  @include desktop {
  }

  &__main {
    background: url("./../assets/torum-assets/images/main-background.webp")
      no-repeat center;
    width: 100vw;
    height: 49.5rem;
    padding-top: 9.375rem;
    display: flex;
    justify-content: center;
    position: relative;

    @include desktop {
      height: 58.75rem;
    }

    &-wrapper {
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 25.438rem;
      padding: 0 1rem;

      @include desktop {
        width: 53.125rem;
        height: 25.438rem;
        padding: 0;
      }
    }
  }

  &__title-wrapper {

    @include tablet {
      // font-size: 2.5rem;
    }

    @include desktop {
      height: 4.5rem;
    }
  }

  &__title {
    font-size: 1.75rem;
    margin: 0 0 2rem 0;
    font-family: "Poppins-Semi-bold";
    

    @include tablet {
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
      height: 4.5rem;
    }
  }

  &__subtitle {
    font-size: 20px;
    text-align: center;
    display: inline-block;
    line-height: 2.5rem;

    @include tablet {
      font-size: 25px;
      width: 95%;
    }

    @include desktop {
      line-height: 3.4rem;
    }
  }

  &__cta {
    &-section-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 4.125rem;
      padding-bottom: 1.5rem;
    }

    &-button {
      height: 3.812rem;
      border: 2px solid #00edff;
      border-radius: 27px;
      box-shadow: 0 0 20px 4px rgba(0, 208, 255, 0.7);
      width: 22.18rem;
      letter-spacing: 2px;
      background-color: transparent;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 1.3rem;

      @include desktop {
        width: 27.5rem;
        cursor: pointer;
      }
    }

    &-background {
      z-index: 0;
      background: #00edff;
      width: 120%;
      height: 100%;
      position: absolute;
    }

    &-button-text {
      z-index: 1;
      font-family: "Poppins-Regular";
      font-size: 16px;
      text-transform: uppercase;

      @include desktop {
        font-size: 18px;
      }
    }

    &-text {
      font-size: 17px;
      text-align: center;
      display: inline-block;
      padding: 0 1rem;
    }
  }

  &__hero-img-wrapper {
    position: absolute;
    bottom: -4rem;
    

    @include tablet {
      bottom: -16rem;
      width: 89%;
    }

    @include desktop {
      position: absolute;
      bottom: -23rem;
      width: auto;
    }
  }

  &__hero-img {
    width: 100%;
  }
}
