@import "./variables";
@import "./fonts";
@import "./breakpoints";

.torum-featured {
    background: black;
    color: white;
    font-family: "Poppins-Regular";
    padding: 3rem 2rem;
    box-sizing: border-box;

    &__main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin: 0;
    }

    &__articles-list {
        list-style: none;
        padding: 0;
        width: 100%;

    }

    &__list-item {
        margin-bottom: 1rem;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        max-width: 21.875rem;
        height: 9.18rem;
        position: relative;
    }

    &__list-item-highlight {
        transition: all .2s ease-in-out;
        background: transparent;
        width: 100%;
        height: 100%;
        position: absolute;

        &:hover {
            background: rgba(255,255,255, .3);
        }
    }

    &__img {
        width: 100%;
    }
}