@import "./variables";
@import "./fonts";
@import "./breakpoints";

.torum-roadmap {
  height: 48rem;
  box-sizing: border-box;
  padding: 4rem 0;
  width: 100%;
  background: black;
  font-family: "Poppins-Regular";
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include tablet {
    height: 53rem;
  }

  &__main-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text-wrapper {
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin: 0;

    @include tablet {
      font-size: $section-title;
     }
  }

  &__text {
    margin: 0;
    width: 93%;
    font-size: $section-subtitle-mobile;
    color: #d2d2d2;
    display: inline-block;
    line-height: 1.9rem;
    text-align: center;

    @include tablet {
      font-size: $section-subtitle;
    }
  }

  &__span {
    font-size: $section-subtitle-mobile;
    color: #d2d2d2;
    margin: 2.5rem 0;

    @include tablet {
      font-size: $section-subtitle;
    }
  }

  &__features-slider {
    width: fit-content;
    display: flex;
    transition: all 0.2s ease-in-out;
    transform: translateX(-99%);

    @include tablet {
      margin-top: 3rem;
    }

    @include desktop {
      margin-left: 1.2rem;
    }
  }

  &__feature-container {
    width: 100vw;
    min-width: 100vw;
    height: 21.75rem;
    min-height: 21.75rem;
    box-sizing: border-box;

    @include tablet {
      min-width: 50%;
    }

    @include desktop {
      min-width: 33%;
    }
  }

  &__feature-wrapper {
    height: 100%;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;

    &:hover {
      background: rgba(219, 211, 211, 0.1);
    }
  }

  &__feature-title {
    font-size: $feature-name-mobile;
    text-align: center;
    padding: 0 2rem;

    @include desktop {
      padding: 0 3rem;
    }
  }
}

.swiper-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    @include tablet {
      margin-top: 3rem;
    }

    @include desktop {
      margin-left: 1.2rem;
    }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;

  @include desktop {
    padding: 0 2rem 0 1rem;
  }
}