@import "./variables";
@import "./fonts";
@import "./breakpoints";

.torum-featured {
    background: black;
    color: white;
    font-family: "Poppins-Regular";
    padding: 3rem 2rem;
    box-sizing: border-box;

    @include tablet {
        padding: 6rem 2rem;
    }

    &__main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            width: 71.25rem;
            max-width: 100%;
            margin: 0 auto;
          }
    }

    &__title {
        margin: 0;

        @include tablet {
            font-size: $section-title;
        }
    }

    &__articles-list {
        list-style: none;
        padding: 0;
        width: 100%;

        @include tablet {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__list-item {
        margin-bottom: 1rem;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        max-width: 21.875rem;
        height: 9.18rem;
        position: relative;

        @include tablet {
            width: 100%;
            max-width: 10.3rem;
            height: 4.2rem;
            border-radius: 8px;
            margin-bottom: 2rem;
            margin-left: 1rem;
        }
    }

    &__list-item-highlight {
        transition: all .2s ease-in-out;
        background: transparent;
        width: 100%;
        height: 100%;
        position: absolute;

        &:hover {
            background: rgba(255,255,255, .3);
        }
    }

    &__img {
        width: 100%;
    }
}