@import "./variables";
@import "./fonts";
@import "./breakpoints";

.torum-sign-up {
    background: black;
    font-family: "Poppins-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-position: top;

    @include tablet {
        height: 48rem;
    }

    &__main-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: url("./../assets/torum-assets/images/torum-sign-up-bg.webp") no-repeat top;
        padding: 5rem 1rem;

        @include tablet {
            background-position: top;
            height: 100%;
            padding: 15rem 1rem 12rem 1rem;
        }
    }

    &__title-divider-wrapper {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
            margin-bottom: 0;
        }
    }

    &__title {
        color: white;
        margin: 0;
        padding: 0 2rem;
        text-align: center;
        line-height: 2.5rem;

        @include tablet {
            font-size: $section-title;
        }

        @include desktop {
            width: 50rem;
        }
    }

}