@import "./variables";
@import "./fonts";
@import "./breakpoints";

.torum-ambassadors {
  background: black;
  height: fit-content;
  color: white;
  padding: 5rem 1rem 1rem 1rem;
  font-family: "Poppins-Regular";

  &__main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @include tablet {
      width: 71.25rem;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__title {
    width: 80%;
    text-align: center;
    font-size: $section-title-mobile;
    line-height: 2.6rem;
    margin: 0;

    @include tablet {
      font-size: $section-title;
    }
  }

  &__text-wrapper {
    margin-bottom: 3rem;

    @include tablet {
      padding: 0 1rem;
    }
  }

  &__text {
    font-size: $section-subtitle-mobile;
    color: #d2d2d2;
    display: inline-block;
    height: 4.5rem;
    line-height: 1.9rem;
    text-align: center;
    margin: 0;

    @include tablet {
      font-size: $section-subtitle;
    }

    @include laptop {
      padding: 0 5rem;
    }
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 0;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      width: 97%;
    }
  }

  &__list-item {
    width: 90%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 1rem;
    

    &:hover {
      background: rgba(219, 211, 211, 0.1);
    }

    @include tablet {
      width: 11rem;
      height: 15rem;
    }

    @include laptop {
      width: 15rem;
    }
  }

  &__item-imgs-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__item-img2 {
    position: absolute;
    right: -0.7rem;
    bottom: 0;
    width: 2.6rem;
    height: 2.6rem;
  }

  &__item-name-wrapper {
    text-align: center;
  }

  &__item-name {
    background: linear-gradient(90deg, rgb(255, 67, 167), rgb(47, 123, 253));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins-Semi-bold";
    font-weight: 600;
    font-size: 1.4rem;
    width: 100%;
    text-align: center;

    @include tablet {
      font-size: 1.1rem;
    }
  }

  &__item-subtitle {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 15px;
    color: #d2d2d2;

    @include tablet {
      font-size: 14px;
    }
  }
}
