// COLOURS

$red-salsa: #FF3347;
$oxford-blue: #000029;
$platinum-white: #E9EDEB;
$champagne-yellow: #F9D28B;

// FONT SIZES

$section-title: 2.187rem;
$section-title-mobile: 1.625rem;
$section-subtitle: 1.25rem;
$section-subtitle-mobile: 0.875rem;
$feature-name: 1.5rem;
$feature-name-mobile: 1.375rem;