@import "partials/torum-header";
@import "partials/torum-landing";
@import "partials/torum-features";
@import "partials/torum-mobile-app";
@import "partials/torum-roadmap";
@import "partials/torum-comparison";
@import "partials/torum-ambassadors";
@import "partials/torum-featured-on";
@import "partials/torum-sign-up";
@import "partials/torum-footer";
@import "partials/portfolio-container";
@import "partials/portfolio-header";
@import "partials/portfolio-hero-section";
@import "partials/portfolio-about-me";
@import "partials/portfolio-projects";
@import "partials/portfolio-contact";
@import "partials/back-to-portfolio";


* {
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.App {
  background: #060b10;
  padding: 0;
}