@font-face {
  font-family: "Poppins-Semi-bold";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Light.ttf");
}

.torum-header {
  width: 100%;
  max-width: 100%;
  height: 6.25rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  font-family: "Poppins-Regular";
}

.torum-header__nav {
  width: 100%;
  height: 3.625rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .torum-header__nav {
    height: 3.625rem;
    padding: 0 3.125rem;
  }
}

.torum-header__nav-link-logo {
  text-decoration: none;
  background-color: transparent;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 1440px) {
  .torum-header__nav-link-logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.torum-header__nav-signup-button {
  width: 6rem;
  height: 100%;
  border-radius: 27px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 1440px) {
  .torum-header__nav-signup-button {
    width: 10.5rem;
    cursor: pointer;
  }
  .torum-header__nav-signup-button:hover {
    background: white;
    color: black;
  }
}

.torum-header__nav-signup-button-text {
  display: inline-block;
  padding-bottom: 0.2rem;
}

@font-face {
  font-family: "Poppins-Semi-bold";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Light.ttf");
}

.torum-landing {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: black;
  font-family: "Poppins-Regular";
}

@media (min-width: 1440px) {
  .torum-landing__title {
    margin: 0;
    font-family: "Poppins-Semi-bold";
  }
}

.torum-landing__main {
  background: url("./../assets/torum-assets/images/main-background.webp") no-repeat center;
  width: 100vw;
  height: 49.5rem;
  padding-top: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (min-width: 1440px) {
  .torum-landing__main {
    height: 58.75rem;
  }
}

.torum-landing__main-wrapper {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 25.438rem;
  padding: 0 1rem;
}

@media (min-width: 1440px) {
  .torum-landing__main-wrapper {
    width: 53.125rem;
    height: 25.438rem;
    padding: 0;
  }
}

.torum-landing__title {
  font-size: 1.75rem;
  margin: 0 0 2rem 0;
  font-family: "Poppins-Semi-bold";
}

@media (min-width: 1440px) {
  .torum-landing__title {
    font-size: 3rem;
  }
}

.torum-landing__subtitle {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  line-height: 2.5rem;
}

@media (min-width: 1440px) {
  .torum-landing__subtitle {
    font-size: 25px;
    line-height: 3.4rem;
  }
}

.torum-landing__cta-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.125rem;
  padding-bottom: 1.5rem;
}

.torum-landing__cta-button {
  height: 3.812rem;
  border: 2px solid #00edff;
  border-radius: 27px;
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 208, 255, 0.7);
          box-shadow: 0 0 20px 4px rgba(0, 208, 255, 0.7);
  width: 22.18rem;
  letter-spacing: 2px;
  background-color: transparent;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 1.3rem;
}

@media (min-width: 1440px) {
  .torum-landing__cta-button {
    width: 27.5rem;
    cursor: pointer;
  }
}

.torum-landing__cta-background {
  z-index: 0;
  background: #00edff;
  width: 120%;
  height: 100%;
  position: absolute;
}

.torum-landing__cta-button-text {
  z-index: 1;
  font-family: "Poppins-Regular";
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .torum-landing__cta-button-text {
    font-size: 18px;
  }
}

.torum-landing__cta-text {
  font-size: 17px;
  text-align: center;
  display: inline-block;
}

.torum-landing__hero-img-wrapper {
  position: absolute;
  bottom: -4rem;
}

@media (min-width: 1440px) {
  .torum-landing__hero-img-wrapper {
    position: absolute;
    bottom: -23rem;
  }
}

@font-face {
  font-family: "Poppins-Semi-bold";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Light.ttf");
}

.torum-features {
  background: black;
  width: 100vw;
  max-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins-Regular";
  padding: 14rem 0 0rem 0;
}

@media (min-width: 1440px) {
  .torum-features {
    padding: 14rem 0 10rem 0;
  }
}

.torum-features__container {
  width: 100%;
  color: white;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 1440px) {
  .torum-features__container {
    width: 71.25rem;
    margin-top: 15rem;
  }
}

.torum-features__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.torum-features__title {
  font-size: 1.625rem;
  margin: 0 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins-Semi-bold";
}

@media (min-width: 1440px) {
  .torum-features__title {
    font-size: 2.187rem;
    margin: 0 0 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Poppins-Semi-bold";
  }
}

.torum-features__divider {
  background: -webkit-gradient(linear, right top, left top, from(#00d3ff), to(#ff00c4));
  background: linear-gradient(to left, #00d3ff, #ff00c4);
  width: 3rem;
  height: 0.2rem;
  margin: 1.3rem 0;
}

@media (min-width: 1440px) {
  .torum-features__divider {
    margin: 2rem 0;
    width: 4rem;
  }
}

.torum-features__subtitle {
  width: 93%;
  font-size: 0.875rem;
  color: #d2d2d2;
  display: inline-block;
  height: 4.5rem;
  line-height: 1.9rem;
  text-align: center;
}

@media (min-width: 1440px) {
  .torum-features__subtitle {
    width: 55%;
    font-size: 1.25rem;
    height: 7rem;
  }
}

.torum-features__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1440px) {
  .torum-features__bottom-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.torum-features__feature-wrapper {
  height: 21rem;
  width: 95%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.torum-features__feature-wrapper:hover {
  background: rgba(219, 211, 211, 0.1);
}

@media (min-width: 1440px) {
  .torum-features__feature-wrapper {
    width: 23.75rem;
    padding: 3rem 1rem;
  }
}

.torum-features__feature-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.8rem;
}

.torum-features__feature-title {
  text-transform: capitalize;
  font-size: 1.375rem;
}

@media (min-width: 1440px) {
  .torum-features__feature-title {
    font-size: 1.5rem;
  }
}

.torum-features__feature-text {
  color: #d2d2d2;
  font-size: 15px;
  text-align: center;
  line-height: 1.9rem;
}

@media (min-width: 1440px) {
  .torum-features__feature-text {
    font-size: 16px;
  }
}

@font-face {
  font-family: "Poppins-Semi-bold";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Light.ttf");
}

.torum-mobile-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins-Regular";
  color: white;
  background: linear-gradient(8deg, #21d4fd, #7121ff);
  padding: 2rem 1.5rem;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 1440px) {
  .torum-mobile-app {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Poppins-Regular";
    padding-left: 15rem;
    height: 44.5rem;
  }
}

.torum-mobile-app__left-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 22rem;
  width: 100%;
  padding: 0 0 2rem 0rem;
}

@media (min-width: 1440px) {
  .torum-mobile-app__left-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 22rem;
    width: 33.75rem;
    padding: 0 0 3.5rem 5rem;
  }
}

@media (min-width: 1440px) {
  .torum-mobile-app__right-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.torum-mobile-app__title {
  font-size: 1.4rem;
  font-family: "Poppins-Semi-bold";
  margin: 2rem 0 0 0;
}

@media (min-width: 1440px) {
  .torum-mobile-app__title {
    font-size: 2.5rem;
    font-family: "Poppins-Semi-bold";
    margin: 0;
  }
}

.torum-mobile-app__text {
  font-size: 1rem;
  margin: 0;
  line-height: 1.8rem;
}

@media (min-width: 1440px) {
  .torum-mobile-app__text {
    font-size: 1rem;
    margin: 0;
    line-height: 1.8rem;
  }
}

.torum-mobile-app__button {
  height: 3.5rem;
  border: none;
  border-radius: 27px;
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 208, 255, 0.7);
          box-shadow: 0 0 20px 4px rgba(0, 208, 255, 0.7);
  width: 14.9rem;
  letter-spacing: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#00d3ff), to(#ff00c4));
  background: linear-gradient(to left, #00d3ff, #ff00c4);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 2rem;
  font-family: "Poppins-Regular";
}

@media (min-width: 1440px) {
  .torum-mobile-app__button {
    width: 16.9rem;
    font-size: 1.1rem;
  }
}

.torum-mobile-app__right-wrapper {
  margin-top: 2rem;
}

@font-face {
  font-family: "Poppins-Semi-bold";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Light.ttf");
}

.torum-roadmap {
  height: 48rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem 0;
  width: 100%;
  background: black;
  font-family: "Poppins-Regular";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.torum-roadmap__main-wrapper {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.torum-roadmap__text-wrapper {
  width: 95%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.torum-roadmap__title {
  margin: 0;
}

.torum-roadmap__text {
  margin: 0;
  width: 93%;
  font-size: 0.875rem;
  color: #d2d2d2;
  display: inline-block;
  line-height: 1.9rem;
  text-align: center;
}

.torum-roadmap__span {
  font-size: 0.875rem;
  color: #d2d2d2;
  margin: 2.5rem 0;
}

.torum-roadmap__features-slider {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.torum-roadmap__feature-wrapper {
  height: 21.75rem;
  min-height: 21.75rem;
  width: 21.75rem;
  min-width: 21.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  margin-left: 2.3rem;
}

.torum-roadmap__feature-wrapper:hover {
  background: rgba(219, 211, 211, 0.1);
}

.torum-roadmap__feature-title {
  font-size: 1.375rem;
  text-align: center;
  padding: 0 2rem;
}

@font-face {
  font-family: "Poppins-Semi-bold";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./../assets/torum-assets/fonts/Poppins/Poppins-Light.ttf");
}

.comparison {
  background: url("./../assets/torum-assets/images/powerful-bg.webp") no-repeat center;
  font-family: "Poppins-Regular";
}

.comparison__left {
  background: rgba(111, 0, 119, 0.8);
}

.comparison__right {
  background: rgba(0, 32, 87, 0.8);
}

.comparison__left-content-wrapper {
  padding: 3rem 1rem;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
}
/*# sourceMappingURL=main.css.map */